Source: ros-kinetic-rbcar-description
Section: misc
Priority: extra
Maintainer: Román Navarro <rnavarro@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-robotnik-sensors, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-tf
Homepage: http://wiki.ros.org/rbcar_description
Standards-Version: 3.9.2

Package: ros-kinetic-rbcar-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-robotnik-sensors, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-tf
Description: The rbcar_description package
